header{
    text-align: center;
}
  
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 25px;
}
a:hover{
    color: brown;
}
*{
    margin: 0;
    padding: 0;
}
    

    body{
        font-size: medium
    
    }
    .conteiner{
        background-color: antiquewhite;
        height: 50vh;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 